*{
    transition: 0.12s;
    font-family: 'Oswald', sans-serif;
    /* margin-top: 5px; */
}

div {
    width: fit-content;
}
.Headline{
    font-family: 'Secular One', sans-serif;
    font-size: 2em;
    color: rgb(100, 119, 215);  
    margin-bottom: 5px;
    height: 1em;
    margin-top: 0px;
}
.header{
    position: sticky;
    top: 0px;
    background-color: rgb(237, 237, 237);
    text-align: center;
    margin-top: 0px;
    width: 100%;
    left: 0px;   
    z-index: 2;
}
#imgSection {
    display: flex;
}
section>div{
    margin: 5px;
    
    text-align: -webkit-center;
}
.tags{
    width:fit-content ;
    display: inline-flex;
    margin-left: 3em; 
    margin-right: 3em; 
    /* transition: 0.2s; */
}

.tags:hover{
    scale: 1.1;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: fit-content;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

img{
    /* max-height: 800px; */
    /* object-fit: contain; */
    border-radius: 0.5em;
    /* transition: 0.2s; */
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    
}

img:hover{
    scale: 1.1;
}

a:link{
    color: orange;
}

a:focus{
    color: blueviolet;
}

a:hover{
    color: green;
}

.button-div{
    text-align: center;
}

button{
    padding: 8px;
    margin: 30px;
    margin-bottom: 100px; 
    color: white;
    background-color: blue; 
    cursor: pointer;
    border-radius: 1em;
}

button:hover{
background-color: darkblue;
}

footer{
    text-align: center;
    position: fixed;
    bottom: 0px;
    background-color: rgb(237, 237, 237);
    width: -webkit-fill-available; 
    padding: 0px 10px;   
    height:fit-content;
    left: 0px;
    display: inline-flex;
    justify-content: space-between;
}

div>h3 {
    cursor: pointer;
}

#dark-mode-button{
    cursor: pointer;
    /* transition: 0.2s; */
}

#dark-mode-button:hover{
    scale: 1.1;
}


.dark-mode {
    background-color: #1E2019;
    color: white;
  }

.dark-mode-header{
    background-color: #394032;
  }

.dark-mode-Headline{
    color: wheat;
}

.dark-mode-footer{
    background-color: #394032;
}

#imgSection{
display: grid;
gap:10px;
grid-template-rows: repeat(3, calc(55vh / 3)) ;
grid-template-columns: repeat(7, calc(90vw / 7)) ;

}

#imgNum1{
    grid-area: 1/ 1 /span 2/span 4
}
#imgNum2{
    grid-area: 1/ 5 /span 1/span 2
}
#imgNum3{
    grid-area: 1/ 7 /span 1/span 1
}
#imgNum4{
    grid-area: 3/ 1 /span 1/span 2
}
#imgNum5{
    grid-area: 3/ 3 /span 1/span 2
}
#imgNum6{
    grid-area: 2/ 5 /span 2/span 3
}


@media screen and (max-width:728px) {
    #imgSection{
        flex-direction: column;
        align-items: center;

    }
    body{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .header{
        padding-bottom:10px ;
    }
    .header > h3{
        display: none;
    }
}